# Welcome to Python!

    Hello, and welcome to python! I hope you will learn a lot of Python along the way. Let's get started!

# Variables!

    We will start about learning how to change values of different variables.

In [68]:
Aditi_Age = 16 # This was your age last year. Here, we are defining the variable, Aditi_Age. 
Aditi_Age = 17 # Now, since a year has passed we change the value of the variable. Python always chooses the most recent value of your variable.  
print(Aditi_Age) # Here, we print your current age.

17

# Multiple Assignment

    Again, this is pretty simple and extremely basic python.

In [69]:
person1, person2, person3 = "Ashvant", "Aditi", "Daniel" # The quotation marks represent strings. This is multiple assignment meaning that person1 is Ashvant, person2 is Aditi, and person3 is Daniel. 
print(person1)
print(person2)
print(person3)

Ashvant
Aditi
Daniel

# Math in Python

     We will be learning simple arithmetic, exponents, and modular arithmetic(remainder), which we will do in python.

In [70]:
print(5+5) # This is just simple addition, I HOPE I don't have to explain this to you. 
print(10-1) # This is just simple subtraction, I HOPE I don't have to explain this to you. 
print(5*4) # This is just simple multiplication, I HOPE I don't have to explain this to you.
print(8/4) # This is just simple division, I HOPE I don't have to explain this to you.
print(2**50) # This number is enormous. This represents 2^50.
print(21%4) # This is just the remainder of 21/4.

10
9
20
2.0
1125899906842624
1

# Strings

    Strings are usually known as sequences of letters/characters.

### Adding Strings

In [71]:
firstName = "Ashvant" # The Quotation Marks represent a string. 
lastName = "Daniel"
fullName = firstName + " " + lastName # This adds the two strings together, and puts a space in between my first and last name. 
print(fullName)

Ashvant Daniel

### Indexes

In [72]:
Hi = "Hello World"
print(Hi[1]) # This is an index. The 0th Index is the first character, 1st Index is the second character and so on. Index 1 is the second character which is e.
print(Hi[5]) # The 5th Index, will be the sixth character which is just a space. As shown in results, it is blank, below the e.
print(Hi[0:5]) # When we have indexes in the form [x:y], we go from the xth index to the (y-1)th index. The 0th Index is H, and the 4th Index is o, so it results in Hello.
print(Hi[6:]) # When we have indexes in the form [x:], then we go from the xth index, till the last character. The 6th Index is W, so it results in World.

e

Hello
World

# Placeholders!

   These can be especially helpful when sending loads of emails, where all you need to do is change the name of the recipient.

In [73]:
Pro = "Hello %s, you are a pro." # %s is a placeholder(Only Works for s!), which can be replaced by anything. 
print(Pro%("Ashvant")) # Here it is replaced with me, the absolute pro!

Hello Ashvant, you are a pro.

# Lists!

    Lists are used to store collections of items.

In [74]:
shopping = ["bread","milk","cheese","muffins"]
print(shopping[2]) # We already know indexes, 0th Index is bread, 1st Index is milk, and so on.

cheese

# List Functions!

### Deleting Items in Lists

In [75]:
shopping = ["bread","milk","cheese","muffins","apples"] # This is a list. 
del shopping[3] # This deletes Index 3 in Shopping which is muffin.
print(shopping)

['bread', 'milk', 'cheese', 'apples']

### Finding the Number of Items in a List

In [76]:
shopping = ["bread","milk","cheese","apples"] # This is a list.
print(len(shopping)) # The Len Function determines the Number of Items in a List.

4

### Maximum/Minimum of a List

    Given a list of numbers, we can determine the maximum and minimum with Python.

In [77]:
Numbers = [5, 11, 7, 22, 59, 111, 10, 1, 3, 1000] # This is a list. 
print(max(Numbers)) # This prints the maximum of the list of numbers which is 1000. 
print(min(Numbers)) #This prints the minimum of the list of numbers which is 1.

1000
1

### Adding Items to a List

In [78]:
shopping = ["bread","milk","cheese","apples"] # This is a list.
shopping.append("Chocolate Chip Cookie") # This adds Chocalate Chip Cookie to the list. 
print(shopping)

['bread', 'milk', 'cheese', 'apples', 'Chocolate Chip Cookie']

# Dictionaries

    Dictionaries help store strings and values.

In [79]:
students = {"Ashvant":12,"Aditi":17, "Radhika":25, "Daniel":47} # This is a dictionary.
print(students["Ashvant"]) # This prints the value of Ashvant in our dictionary, which is 12. 
students["Aditi"] = 18 # This changes the value of Aditi in the Dictionary. 
print(students)

12
{'Ashvant': 12, 'Aditi': 18, 'Radhika': 25, 'Daniel': 47}

# Dictionary Functions!

### Deleting Values in Dictionaries

In [80]:
students = {"Ashvant":12,"Aditi":17, "Radhika":25, "Daniel":47} # This is a dictionary.
del students["Aditi"] # This deletes Aditi from the dictionary. 
print(students)

{'Ashvant': 12, 'Radhika': 25, 'Daniel': 47}

### Clearing Dictionaries

In [81]:
students = {"Ashvant":12,"Aditi":17, "Radhika":25, "Daniel":47} # This is a dictionary.
students.clear() # This makes the dictionary completely blank. 
print(students) # As we see, the dictionary is now blank.

{}

### Deleting Dictionaries

In [82]:
students = {"Ashvant":12,"Aditi":17, "Radhika":25, "Daniel":47} # This is a dictionary.
del students # Now, the dictionary does not exist anymore.
print(students) #As we see, Python says students is not defined, because it does not exist anymore.

NameError: name 'students' is not defined

### Number of Objects in Dictionaries!

In [83]:
students = {"Ashvant":12,"Aditi":17, "Radhika":25, "Daniel":47} # This is a dictionary.
print(len(students)) # This works with dictionaries just like lists. It determines the number of objects in the dictionary.

4

# Tuples

    Tuples are used to store data and information. You cannot add or delete any value in a tuple!

In [84]:
Cool = ("Math", "Chess", "Python") # This is a tuple. 
print(Cool[0]) # If you forgot about indexes, scroll up and read that. You can also use indexes in tuples!

Math

# Basic If-Else Statements

In [85]:
if 5>2:
    print("Ashvant Daniel is a pro!")
else:
    print("Aditi Daniel is a pro!") # I think this program is pretty self-explanatory :).

Ashvant Daniel is a pro!

# Nested If-Else Statements!

    These are more complicated If-Else Statements.

In [2]:
name = "Aditi"
age = 17
if age > 14: 
    if name == "Aditi": # In If-Else Statements, you write the equals sign with 2 of them. 
        print("Oh, Aditi the noob!")
    else:
        print("Aditi is a pro!") # Obviously this won't print, so even the computer knows you are a noob!

Oh, what a noob!

# Elif Statements

    These are another type of If-Else Statements.

In [8]:
day = input('What weekday is it, today? ') # We take the output and use it in an If-Else Statement. 

if day == "Monday":
    print("Cloudy")
elif day == "Tuesday":
    print("Cloudy")
elif day == "Wednesday":
    print("AM Clouds, PM Sun")
elif day == "Thursday":
    print("Partly Cloudy")
else:
    print("Sunny")

What weekday is it, today? Friday
Sunny

# Logical Operators

    And/Or are Logical Operators used in if statements.

### And:

In [10]:
age = 12
name = "Ashvant"
if age > 10 and name == "Ashvant":
    print("Elligible!") # In order to print Elligible it must satisfy BOTH conditions.

Elligible!

### Or:

In [11]:
age = 17
name = "Aditi"
if age > 16 or name == "Ashvant":
    print("Elligible!") # In order to print Elligible it must satisfy AT LEAST ONE condition.

Elligible!

# For Loops!

In [14]:
for i in range(0, 5): # This ignores the 5, and prints numbers 0-4. 
    print(i)

0
1
2
3
4

In [16]:
students = ["pro", "noob", "casual"] # This is a list. 
for i in students: # This prints all objects in students. 
    print(i)

pro
noob
casual

In [19]:
for i in range(0, 20, 2): 
    print(i) # prints even numbers from 0-18(not including 20.)

0
2
4
6
8
10
12
14
16
18

# While Loops

    Another form of loops!

In [20]:
counter = 5
while counter < 11:
    counter = counter + 1
    print(counter) # This is pretty straightforward.

6
7
8
9
10
11

In [ ]:
counter = 5
while counter < 10:
    print(counter) # Now, I am obviously not going to run this. If I do, it will print 5 infinitely many times, and my computer will crash.